  @import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Michroma&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Poppins:wght@300;400;600&display=swap');

    .logo {
        height: 40px;
        width: 20x;

    }

    body {
        font-family: 'Poppins', sans-serif;
    }

    nav {
        display: flex;
        justify-content: flex-start;
        margin-left: 50px;
        margin-top: 40px;
        gap: 300px;
        font-family: 'Aldrich', sans-serif;
    }

    .navcolor {
        font-size: 20px;
    }

    ul {
        display: flex;
        gap: 40px;
    }

    ul li a {
        display: flex;
        text-decoration: none;
        color: black;
    }

    ul li {
        list-style-type: none;
    }

    button {
        height: 28px;
        width: 110px;
        border-radius: 10px;
        border-color: black;
        font-size: 15px;
        margin-top: 15px;
        margin-left: 150px;
        background-color: white;
    }

    .search {
        height: 30px;
        width: 30px;
        margin-left: 110px;
        margin-top: 15px;
        position: absolute;
    }

    .Photo :nth-child(1) {
        height: 500px;
        width: 400px;
        margin-top: 90px;
        margin-left: 50px;
        z-index: 3;
        position: absolute;
    }

    .Photo :nth-child(2) {
        height: 400px;
        width: 350px;
        z-index: 2;
        margin-top: 250px;
        margin-left: 170px;
        position: absolute;
    }

    .right {
        display: flex;
        margin-left: 750px;
        position: absolute;
        margin-top: 50px;
    }

    .right2 {
        display: flex;
        position: absolute;
        margin-left: 1380px;
        margin-top: 120px;
    }

    .h1 {
        display: flex;
        position: absolute;
        margin-left: 700px;
        position: absolute;
        margin-top: 250px;
        font-size: 60px;
        font-weight: 600;
        font-family: 'Aldrich', sans-serif;
    }

    .para {
        display: flex;
        position: absolute;
        margin-left: 700px;
        margin-top: 350px;
        font-size: 18px;
        color: #606060;
    }

    .para2 {
        display: flex;
        position: absolute;
        margin-left: 705px;
        margin-top: 378px;
        font-size: 18px;
        color: #606060;
    }

    .para3 {
        display: flex;
        position: absolute;
        margin-left: 900px;
        margin-top: 407px;
        font-size: 18px;
        color: #606060;
    }

    .button1 {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-left: 800px;
        margin-top: 500px;
        height: 29px;
        width: 170px;
        font-size: 18px;
        align-items: center;
        border-radius: 10px;
        font-family: 'Aldrich', sans-serif;
    }

    .button2 {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-left: 980px;
        margin-top: 500px;
        height: 28px;
        width: 112px;
        font-size: 18px;
        align-items: center;
        border-radius: 10px;
        color: white;
        background-color: black;
        font-family: 'Aldrich', sans-serif;
    }

    p {
        display: flex;
        position: absolute;
        margin-left: 915px;
        margin-top: 580px;
        font-size: 22px;
    }

    .img1 {
        display: flex;
        position: absolute;
        margin-left: 850px;
        margin-top: 620px;

    }

    .img2 {
        display: flex;
        position: absolute;
        margin-left: 916px;
        margin-top: 620px;

    }

    .img3 {
        display: flex;
        position: absolute;
        margin-left: 980px;
        margin-top: 620px;

    }

    .img4 {
        display: flex;
        position: absolute;
        margin-left: 1042px;
        margin-top: 620px;
    }

    .img5 {
        display: flex;
        position: absolute;
        margin-left: 580px;
        margin-top: 560px;
        height: 58px;
    }