nav {
    display: flex;
    justify-content: space-center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
ul {
    display: flex;
    gap: 30px;
}

.logo {
    margin-top: 5px;
    height: 40px;
    width: 100px;
}
ul li{
    list-style-type:none;
}
ul li a {
    text-decoration:none;
}
button{
    background:#5955b3;
    color:whitesmoke;
    border:none;
    height:48px;
    width:110px;
    font-weight:bold;
    border-radius:10px;
}
.button2{
    background:#5955b3;
    color:whitesmoke;
    border:none;
    height:60px;
    width:200px;
    font-weight:bold;
    border-radius:10px;
    margin-left: 100px;
    margin-top: 25px;
}
.design_class {
    display: flex;
    flex-direction: column;
    margin-left: 700px;
    margin-top: -10px;
    
}
.design{
   display: flex;
   margin-left: 80px;
   margin-top: 60px;
}
.image {
    height:590px;
    width:900px;
    margin-left: 640px;
}
.heading{
    display:flex;
    justify-content: left;
    margin-top:-450px;
    margin-left: 100px;
    font-size: 65px;
    color: #3c2f60;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1.15;
}
.crush{
    display:flex;
    justify-content: left;
    margin-left:-390px;
    font-size: 65px;
    color: #5955b3;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1.15;
}
.text3{
    margin-top: 140px;
    margin-left: -351px;
}
.para{
    margin-left: 100px;
    margin-top: -15px;
    color: #9e9e9e;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}
.home{
    color:#373737;
}
.navcolor{
    color: #b6b6b6;
}