.sec1_bg{
    z-index: -1;
    margin-top: -8px;
    margin-left: -8px;
    height:850px;
    width:1800px;
}
.logo{
    margin-top:-830px;
    margin-left: 100px;
    position: absolute;
}
ul{
    display:flex;
    margin-top: -820px;
    margin-left: 450px;
    gap:42px;
}
ul li{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
}
.navcolor{
    color: white;
}
.navcolor2{
    color: white;
}
.navcolor3{
    color: white;
    margin-left: 435px;
}
/* .navcolor:hover{
    color: #e7e7e7;
} */
.navcolor4{
    margin-left: 1400px;
    margin-top: -43px;
    position: absolute;
    z-index: 10;

    background-color: #f4694c;
    color: white;
    text-decoration: none; /* Removes the default link underline */
    padding: 8px 16px;
    display: inline-block;
}
.sec1_text1{
    color: white;
    font-size: 55px;
    margin-top: 280px;
    margin-left: 100px;
    font-weight: bold;
}
.sec1_text2{
    color: #8f8e8e;
    font-size: 20px;
    margin-top: -18px;
    margin-left: 100px;
    line-height: 30px;
}
.sec1_btn1{
    margin-left: 100px;
    margin-top: 10px;
    position: absolute;
    z-index: 10;
    font-weight: bold;

    background-color: #f4694c;
    color: white;
    text-decoration: none; /* Removes the default link underline */
    padding: 16px 32px;
    display: inline-block;
}
.sec1_btn2{
    margin-left: 270px;
    margin-top: 10px;
    position: absolute;
    z-index: 10;
    font-weight: bold;

    background-color:transparent;
    color: #c8c7c7;
    text-decoration: none; /* Removes the default link underline */
    padding: 16px 32px;
    display: inline-block;
    border: 1px solid #c8c7c7;
}
.sec1_img{
    margin-left: 1050px;
    margin-top: -250px;
    position: absolute;
}
.sec1_text3{
    color: #ffffff;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 1000px;
    line-height: 30px;
}
.sec1_dash{
    margin-left: 947px;
    margin-top: -96px;
    position: absolute;
}
.sec1_arrow{
    margin-left: 1200px;
    margin-top: -40px;
    position: absolute;
}
.sec2{
    background:#ffffff;
    height: 9000px;
}
.sec2_text1{
    color: #000000;
    font-size: 40px;
    margin-top: 100px;
    margin-left: 530px;
    line-height: 50px;
    Font-weight: bold;
}
.sec2_card1_img{
    margin-left: 200px;
    margin-top: 50px;
    height: 250px;
    width: 260px;
}
.sec2_card1_btn{
    margin-left: -260px;
    margin-top: 300px;
    position: absolute;
    z-index: 1;
    font-weight: bold;

    background-color:#414546;
    color: #c8c7c7;
    text-decoration: none; /* Removes the default link underline */
    padding: 60px 130px;
    display: inline-block;
    border:none;
}   
.sec2_card1_text1{
    color: #ffffff;
    font-size: 19px;
    margin-top: 10px;
    margin-left: 212px;
    position: absolute;
    z-index: 2;
    line-height: 30px;
    
}
.sec2_card1_text2{
    color: #8f8e8e;
    font-size: 15px;
    margin-top: 38px;
    margin-left: 212px;
    position: absolute;
    z-index: 2;
    line-height: 30px;
}
.sec2_card1_star1{
    position: absolute;
    margin-top: 382px;
    margin-left: -250px;
    height: 15px;
    z-index: 2;

}
.sec2_card1_star2{
    position: absolute;
    margin-top: 382px;
    margin-left: -230px;
    height: 15px;
    z-index: 2;

}
.sec2_card1_star3{
    position: absolute;
    margin-top: 382px;
    margin-left: -210px;
    height: 15px;
    z-index: 2;

}
.sec2_card1_star4{
    position: absolute;
    margin-top: 382px;
    margin-left: -190px;
    height: 15px;
    z-index: 2;

}
.sec2_card1_star5{
    position: absolute;
    margin-top: 382px;
    margin-left: -170px;
    height: 15px;
    z-index: 2;

}
.sec2_card1_download_btn{
    margin-left: -120px;
    margin-top: 360px;
    position: absolute;
    z-index: 2;
    font-weight: bold;

    background-color:#f4694c;
    color: #feede9;
    text-decoration: none; /* Removes the default link underline */
    padding: 8px 16px;
    display: inline-block;
    border:none;
}
.sec2_card2_img{
    margin-left: 30px;
    margin-top: 50px;
    height: 250px;
    width: 260px;
    position: absolute;
}
.sec2_card2_btn{
    margin-left: 30px;
    margin-top: 300px;
    position: absolute;
    z-index: 1;
    font-weight: bold;

    background-color:#414546;
    color: #c8c7c7;
    text-decoration: none; /* Removes the default link underline */
    padding: 60px 130px;
    display: inline-block;
    border:none;
}
.sec2_card2_text1{
    color: #ffffff;
    font-size: 19px;
    margin-top: 10px;
    margin-left: 505px;
    position: absolute;
    z-index: 2;
    line-height: 30px;
    
}
.sec2_card2_text2{
    color: #8f8e8e;
    font-size: 15px;
    margin-top: 38px;
    margin-left: 505px;
    position: absolute;
    z-index: 2;
    line-height: 30px;
}
.sec2_card2_star1{
    position: absolute;
    margin-top: 382px;
    margin-left: 41px;
    height: 15px;
    z-index: 2;

}
.sec2_card2_star2{
    position: absolute;
    margin-top: 382px;
    margin-left: 61px;
    height: 15px;
    z-index: 2;

}
.sec2_card2_star3{
    position: absolute;
    margin-top: 382px;
    margin-left: 81px;
    height: 15px;
    z-index: 2;

}
.sec2_card2_star4{
    position: absolute;
    margin-top: 382px;
    margin-left: 101px;
    height: 15px;
    z-index: 2;

}
.sec2_card2_star5{
    position: absolute;
    margin-top: 382px;
    margin-left: 121px;
    height: 15px;
    z-index: 2;

}
.sec2_card2_download_btn{
    margin-left: 170px;
    margin-top: 360px;
    position: absolute;
    z-index: 2;
    font-weight: bold;

    background-color:#f4694c;
    color: #feede9;
    text-decoration: none; /* Removes the default link underline */
    padding: 8px 16px;
    display: inline-block;
    border:none;
}
.sec2_card3_img{
    margin-left: 323px;
    margin-top: 50px;
    height: 250px;
    width: 260px;
    position: absolute;
}
.sec2_card3_btn{
    margin-left: 323px;
    margin-top: 300px;
    position: absolute;
    z-index: 1;
    font-weight: bold;

    background-color:#414546;
    color: #c8c7c7;
    text-decoration: none; /* Removes the default link underline */
    padding: 60px 130px;
    display: inline-block;
    border:none;
}
.sec2_card3_text1{
    color: #ffffff;
    font-size: 19px;
    margin-top: 10px;
    margin-left: 800px;
    position: absolute;
    z-index: 2;
    line-height: 30px;
    
}
.sec2_card3_text2{
    color: #8f8e8e;
    font-size: 15px;
    margin-top: 38px;
    margin-left: 800px;
    position: absolute;
    z-index: 2;
    line-height: 30px;
}
.sec2_card3_star1{
    position: absolute;
    margin-top: 382px;
    margin-left: 334px;
    height: 15px;
    z-index: 2;

}
.sec2_card3_star2{
    position: absolute;
    margin-top: 382px;
    margin-left: 354px;
    height: 15px;
    z-index: 2;

}
.sec2_card3_star3{
    position: absolute;
    margin-top: 382px;
    margin-left: 374px;
    height: 15px;
    z-index: 2;

}
.sec2_card3_star4{
    position: absolute;
    margin-top: 382px;
    margin-left: 394px;
    height: 15px;
    z-index: 2;

}
.sec2_card3_star5{
    position: absolute;
    margin-top: 382px;
    margin-left: 414px;
    height: 15px;
    z-index: 2;

}
.sec2_card3_download_btn{
    margin-left: 462px;
    margin-top: 360px;
    position: absolute;
    z-index: 2;
    font-weight: bold;

    background-color:#f4694c;
    color: #feede9;
    text-decoration: none; /* Removes the default link underline */
    padding: 8px 16px;
    display: inline-block;
    border:none;
}
.sec2_card4_img{
    margin-left: 611px;
    margin-top: 50px;
    height: 250px;
    width: 260px;
    position: absolute;
}
.sec2_card4_btn{
    margin-left: 611px;
    margin-top: 300px;
    position: absolute;
    z-index: 1;
    font-weight: bold;

    background-color:#414546;
    color: #c8c7c7;
    text-decoration: none; /* Removes the default link underline */
    padding: 60px 130px;
    display: inline-block;
    border:none;
}
.sec2_card4_text1{
    color: #ffffff;
    font-size: 19px;
    margin-top: 10px;
    margin-left: 1090px;
    position: absolute;
    z-index: 2;
    line-height: 30px;
    
}
.sec2_card4_text2{
    color: #8f8e8e;
    font-size: 15px;
    margin-top: 38px;
    margin-left: 1090px;
    position: absolute;
    z-index: 2;
    line-height: 30px;
}
.sec2_card4_star1{
    position: absolute;
    margin-top: 382px;
    margin-left: 622px;
    height: 15px;
    z-index: 2;

}
.sec2_card4_star2{
    position: absolute;
    margin-top: 382px;
    margin-left: 642px;
    height: 15px;
    z-index: 2;

}
.sec2_card4_star3{
    position: absolute;
    margin-top: 382px;
    margin-left: 662px;
    height: 15px;
    z-index: 2;

}
.sec2_card4_star4{
    position: absolute;
    margin-top: 382px;
    margin-left: 682px;
    height: 15px;
    z-index: 2;

}
.sec2_card4_star5{
    position: absolute;
    margin-top: 382px;
    margin-left: 702px;
    height: 15px;
    z-index: 2;

}
.sec2_card4_download_btn{
    margin-left: 750px;
    margin-top: 360px;
    position: absolute;
    z-index: 2;
    font-weight: bold;

    background-color:#f4694c;
    color: #feede9;
    text-decoration: none; /* Removes the default link underline */
    padding: 8px 16px;
    display: inline-block;
    border:none;
}
.sec3_img{
    margin-left: -350px;
    margin-top: 600px;
    height: 520px;
    width: 740px;
    position: absolute;
}
.sec3_text1{
    color: #000000;
    font-size: 40px;
    margin-top: 340px;
    margin-left: 940px;
    line-height: 50px;
    position:absolute;
    Font-weight: bolder;
}
.sec3_text2{
    color: #808080;
    font-size: 15px;
    margin-top: 520px;
    margin-left: 940px;
    line-height: 30px;
    position:absolute;
    Font-weight: bolder;
}
.sec3_btn{
    margin-left: 483px;
    margin-top: 970px;
    position: absolute;
    z-index: 1;
    font-weight: bold;

    background-color:#f4694c;
    color: #feede9;
    text-decoration: none; /* Removes the default link underline */
    padding: 15px 30px;
    display: inline-block;
    border:none;
}
.sec3_btn2{
    margin-left: 650px;
    margin-top: 970px;
    position: absolute;
    z-index: 1;
    font-weight: bold;

    background-color:transparent;
    color: #f78a74;
    text-decoration: none; /* Removes the default link underline */
    padding: 15px 30px;
    display: inline-block;
    border: 1px solid #f78a74;
}
.sec4_text1{
    color: #000000;
    font-size: 40px;
    margin-top: 1000px;
    margin-left: 100px;
    line-height: 50px;
    Font-weight: bold;
}
.sec4_leftarrow_img{
    margin-left: 1210px;
    margin-top: -60px;
    height: 15px;
    width: 32px;
    z-index: 2;
    position: absolute;
}
.sec4_btn1{
    margin-left: 1200px;
    margin-top: -75px;
    position: absolute;
    z-index: 1;
    font-weight: bold;

    background-color:#fde1db;
    color: #feede9;
    text-decoration: none; /* Removes the default link underline */
    padding: 22px 25px;
    display: inline-block;
    border:none;
}
.sec4_btn2{
    margin-left: 1270px;
    margin-top: -75px;
    position: absolute;
    z-index: 1;
    font-weight: bold;

    background-color:#f4694c;
    color: #f78a74;
    text-decoration: none; /* Removes the default link underline */
    padding: 22px 25px;
    display: inline-block;
    border:none;
}
.sec4_rightarrow_img{
    margin-left: -200px;
    margin-top: -60px;
    height: 15px;
    width: 32px;
    z-index: 2;
    position: absolute;

}
.sec4_rightarrow_img {
    position: absolute;
    z-index: 2;
    margin-left: 1280px; 
    margin-top: -60px; 
    height: 15px;
    width: 32px;
}