nav {
        display: flex;
        padding: 45px;
        height: 20px;
        width: 1520px;
        margin-left: -8px;
        margin-top: -20px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    ul {
        display: flex;
        gap: 45px;
    }

    li {
        list-style-type: none;
    }

    ul li a {
        text-decoration: none;
        color: aliceblue;
    }

    .navcolor {
        color: white;
        font-weight: bold;
    }

    .logo {
        height: 35px;
        width: 100px;
    }

    .line {
        font-size: 50px;
        line-height: 1.5px;
    }

    button {
        border-radius: 5px;
        height: 32px;
        width: 100px;
        margin-left: 670px;
        /* padding-left: 670px; */
        background-color: #ba0cc5;
        color: white;
    }

    .navcolor2 {
        color: white;
        font-weight: bold;
        line-height: 0.1px;
    }

    .background {
        background-image: url(./assets/bg.png);
        /* background-size: cover;
        background-position: center; */
        /* height:1500px; */
        height: 800px;
        width: 1610px;
        margin-left: -8px;

    }

    h1 {
        display: flex;
        justify-content: center;
        padding-top: 250px;
        font-size: 80px;
        color: white;
        margin: 0px;
    }

    .para {
        margin-left: 522px;
        margin-top: 8px;
        font-size: 29px;
        color: white;
    }

    .button2 {
        border-radius: 5px;
        height: 55px;
        width: 250px;
        font-size: 22px;
        font-weight: bolder;
        margin-left: 650px;
        border-radius: 10px;
    }