 body {
     background-color: #151515;
 }

 nav {
     display: flex;
     margin-left: 72px;
     color: #e7e7e7;
     font-weight: lighter;
     position: relative; 
     z-index: 1;
 }

 ul li a {
     text-decoration: none;
 }

 ul li {
     list-style-type: none;
 }

 ul {
     display: flex;
     gap: 42px;
 }

 .navcolor2 {
     padding-left: 337px;
     color: white;
 }

 .option {
     color: white;
     background-color: transparent;
     border: none;
     outline: none;
     padding-left: 140px;
     border-radius: 0px;
     appearance: none;
     cursor: pointer;


 }

 .option option {
     background-color: #151515;
     /* Use your navbar's dark background color */
     color: white;
     border: none;
 }

 .navcolor {
     color: white;
 }

 .navcolor3 {
     position: absolute;
     color: white;
     margin-left: 461px;
 }
 .pink_button {
     position: absolute;
     margin-left: 400px;
     z-index: -1;
 }

 h1 {
     color: white;
     margin-left: 72px;
     margin-top: 120px;
     font-size: 67px;
 }

 .para1 {
     position: absolute;
     color: #9b9b9b;
     margin-left: 72px;
     margin-top: -15px;
     font-size: 20px;
     font-weight: lighter;
 }

 .navcolor4 {
     position: absolute;
     color: #e7e7e7;
     margin-left: -962px;
     margin-top: 410px;
     line-height: 1.5;
     font-size: 16px;
 }

 .pink_button2 {
     position: absolute;
     margin-left: -940px;
     margin-top: 410px;
     z-index: -1;
 }

 .RightArrow {
     position: absolute;
     margin-left: -890px;
     margin-top: 416px;
 }

 .frontCards {
     position: absolute;
     margin-top: -280px;
     margin-left: 793.8px;
 }

 .backCards {
     position: absolute;
     margin-top: -355px;
     margin-left: 581px;
 }

 .color {
     color: #f637ec;
 }

 .para2 {
     position: absolute;
     color: white;
     font-size: 50px;
     margin-left: 72px;
     margin-top: 180px;
     font-weight: bolder;
 }

 .plus {
     color: #f637ec;
     font-weight: bolder;
 }

 .para3 {
     position: absolute;
     color: #f5f5f5;
     font-size: 20px;
     margin-left: 210px;
     margin-top: 186px;
     font-weight: lighter;
 }

 .para4 {
     position: absolute;
     color: white;
     font-size: 50px;
     margin-left: 390px;
     margin-top: 180px;
     font-weight: bolder;
 }

 .para5 {
     position: absolute;
     color: #f5f5f5;
     font-size: 20px;
     margin-left: 520px;
     margin-top: 186px;
     font-weight: lighter;
 }

 .img1 {
     position: absolute;
     margin-left: 350px;
     margin-top: 170px;
 }

 .logo-strip {
     background: #1a1a1d;
     padding: 60px 0;
     margin-top: 550px;
 }

 .logo-row {
     display: flex;
     gap: 150px;
     padding-left: 250px;

 }

 .h1_2 {
     color: #f637ec;
 }

 .para6 {
     position: absolute;
     color: #b8b8b8;
     font-size: 20px;
     margin-left: 1000px;
     margin-top: -200px;
     font-weight: lighter;
 }
.sec2{
    height: 1000px;
}

 .sec2_pile_bd1 {
     
     margin-top: 200px;
     margin-left: 240px;
     background: #272727;
     width: 320px;
     height: 250px;
     border:1px solid #d6d6d6;
 }
 .sec2_bd1_img{
    margin-top:-205px ;
    margin-left:349px;
    position: absolute;
    height: 110px;
 }
 .sec2_bd1_text{
    color: #ffffff;
    margin-top: -70px;
    margin-left:288px;
    font-size: 26px;
    font-weight: bolder;
    position: absolute;
 }

 .sec2_pile_bd2 {
     margin-top: -300px;
     margin-left: 590px;
     background: #454140;
     width: 320px;
     height: 250px;
     border:1px solid #d6d6d6;
 }
 .sec2_bd2_img{
    margin-top:-212px;
    margin-left:699px;
    height: 110px;
    position: absolute;
 }
 .sec2_bd2_text{
    color: #ffffff;
    margin-top: -90px;
    margin-left:627px;
    font-size: 26px;
    font-weight: bolder;
    position: absolute;
 }
 .sec2_pile_bd3 {
     margin-top: -200px;
     margin-left: 938px;
     background: #272727;
     width: 320px;
     height: 250px;
     border:1px solid #e7e7e7;
 }
 .sec2_bd3_img{
    margin-top:-200px;
    margin-left:1040px;
    height: 110px;
    position: absolute;
 }
 .sec2_bd3_text{
    color: #ffffff;
    margin-top: -67px;
    margin-left:990px;
    font-size: 26px;
    font-weight: bolder;
    position: absolute;
 }
 .sec3 {
    margin-top: -20px;
    background: #ffffff;
    padding: 500px;
    height: 60px;
}
.sec3_text1{
    margin-top:-730px;
    margin-left: -50px;
    font-size: 75px;
    white-space: nowrap;
}
.sec3_text2{
    color:#f637ec;
    margin-top:-70px;
    margin-left: 85px;
    font-size: 75px;
    white-space: nowrap;
    
}
.sec3_text3{
    margin-top:-40px;
    margin-left: 38px;
    font-size: 18px;
    white-space: nowrap;
}   
.sec3_img{
    height:700px;
    margin-top:-45px;
    margin-left:-120px;
   
}
.sec4 {
    margin-top: -20px;
    background: #151515;
    padding: 440px;
    height: 900px;
}
.sec4_text1{
    color:#ffffff;
    margin-top:-360px;
    margin-left: -100px;
    font-size:75px;
    white-space: nowrap;
}
.sec4_text2{
    color:#f637ec;
    margin-top:-70px;
    margin-left: -30px;
    font-size: 75px;
    white-space: nowrap;
}
.sec4_text3{
    color:#ffffff;
    margin-top:-160px;
    margin-left: 336px;
    font-size: 75px;
    white-space: nowrap;
}
.sec4_text4{
    color:#ffffff;
    margin-top:-30px;
    margin-left: 125px;
    font-size: 18px;
    
}
.sec4_pile_Black_body1 {
    margin-top: 100px;
    margin-left: -160px;
    background: #494645;
    border: 1px solid #f3f3f3;
    width: 420px;
    height: 240px;
}
.sec4_bd1_img {
    margin-top:-220px;
    margin-left:-140px;
    position: absolute;
}
.sec4_bd1_text1{
    color: #ffffff;
    margin-top: -150px;
    margin-left:-140px;
    font-size: 17px;
    font-weight: lighter;
    position: absolute;
}
.sec4_bd1_text2{
    color: #ffffff;
    margin-top: -60px;
    margin-left:-140px;
    font-size: 17px;
    position: absolute;
}
.sec4_bd1_text3{
    color: #ffffff;
    margin-top: -35px;
    margin-left:-140px;
    font-size: 17px;
    font-weight: lighter;
    position: absolute;
    color: #e6e6e6;
    font-size: 15px;
}
.sec4_pile_Black_body2 {
    margin-top: -242px;
    margin-left: 320px;
    background: #1e1f24;
    border: 1px solid #f3f3f3;
    width: 420px;
    height: 240px;
    position: absolute;
}
.sec4_bd2_img {
    margin-top:-220px;
    margin-left:340px;
    position: absolute;
}
.sec4_bd2_text1{
    color: #ffffff;
    margin-top: -150px;
    margin-left:340px;
    font-size: 17px;
    font-weight: lighter;
    position: absolute;
}
.sec4_bd2_text2{
    color: #ffffff;
    margin-top: -60px;
    margin-left:340px;
    font-size: 17px;
    position: absolute;
}
.sec4_bd2_text3{
    color: #e6e6e6;
    margin-top: -35px;
    margin-left:340px;
    font-size: 15px;
    font-weight: lighter;
    position: absolute;
}
.sec4_pile_Black_body3 {
    margin-top: 70px;
    margin-left: -160px;
    background: #1e1f24;
    border: 1px solid #f3f3f3;
    width: 420px;
    height: 240px;
}
.sec4_bd3_img {
    margin-top:-220px;
    margin-left:-140px;
    position: absolute;
}
.sec4_bd3_text1{
    color: #ffffff;
    margin-top: -150px;
    margin-left:-140px;
    font-size: 17px;
    font-weight: lighter;
    position: absolute;
}
.sec4_bd3_text2{
    color: #ffffff;
    margin-top: -60px;
    margin-left:-140px;
    font-size: 17px;
    position: absolute;
}
.sec4_bd3_text3{
    color: #ffffff;
    margin-top: -35px;
    margin-left:-140px;
    font-size: 17px;
    font-weight: lighter;
    position: absolute;
    color: #e6e6e6;
    font-size: 15px;
}
.sec4_pile_Black_body4 {
    margin-top: -242px;
    margin-left: 320px;
    background: #1e1f24;
    border: 1px solid #f3f3f3;
    width: 420px;
    height: 240px;
    position: absolute;
}
.sec4_bd4_img {
    margin-top:-220px;
    margin-left:340px;
    position: absolute;
}
.sec4_bd4_text1{
    color: #ffffff;
    margin-top: -150px;
    margin-left:340px;
    font-size: 17px;
    font-weight: lighter;
    position: absolute;
}
.sec4_bd4_text2{
    color: #ffffff;
    margin-top: -60px;
    margin-left:340px;
    font-size: 17px;
    position: absolute;
}
.sec4_bd4_text3{
    color: #e6e6e6;
    margin-top: -35px;
    margin-left:340px;
    font-size: 15px;
    font-weight: lighter;
    position: absolute;
}
.sec4_line {
    margin-top: 150px;
    margin-left: 231px;
    width: 60px;
}

.sec4_line hr {
    background-color: #f637ec;
    border: none;
    border-radius: 100px;
    margin: 0;
    height: 10px;
}
.sec4_line2 {
    margin-top: -10px;
    margin-left: 301px;
    width: 12px;
}

.sec4_line2 hr {
    background-color: #484347;
    border: none;
    border-radius: 100px;
    margin: 0;
    height: 12px;
}
.sec4_line3 {
    margin-top: -12px;
    margin-left: 321px;
    width: 12px;
}

.sec4_line3 hr {
    background-color: #484347;
    border: none;
    border-radius: 100px;
    margin: 0;
    height: 12px;
}
.sec4_line4 {
    margin-top: -12px;
    margin-left: 341px;
    width: 12px;
}

.sec4_line4 hr {
    background-color: #484347;
    border: none;
    border-radius: 100px;
    margin: 0;
    height: 12px;
}
.footer_img1{
    margin-top: 150px;
    margin-left: -447px;
    width: 1520px;
    z-index: -2;
}
.footer_img2{
    margin-top: -560px;
    margin-left: -447px;
    width: 1520px;
    z-index: -1;
    
}
.footer_img3{
    margin-top:-600px;
    margin-left: -450px;
    height: 600px;
    position: absolute;
    
}
.footer_img4{
    margin-top:-550px;
    margin-left: 440px;
    height: 575px;
    position: absolute;
    
}
.footer_text1{
    color: #e7e7e7;
    margin-top: -430px;
    margin-left: -200px;
    font-size: 78px;
    position: absolute;
    font-weight:520;
}
.footer_text2{
    color: #151515;
    margin-top: -430px;
    margin-left: 120px;
    font-size: 78px;
    position: absolute;
    font-weight:520;
}
.footer_text3{
    color: #e7e7e7;
    margin-top: -430px;
    margin-left: 520px;
    font-size: 78px;
    position: absolute;
    font-weight:520;
    
}
.footer_text4{
    color: #e7e7e7;
    margin-top: -350px;
    margin-left: 70px;
    font-size: 78px;
    position: absolute;
    font-weight:520;
    white-space: nowrap;
}
 .footer_btn_text {
     position: absolute;
     color: #e7e7e7;
     margin-top: -200px;
    margin-left: 130px;
     line-height: 1.5;
     font-size: 25px;
     text-decoration: none;
     z-index: 2;
 }
 .footer_RightArrow {
     position: absolute;
     margin-top: -188px;
    margin-left: 300px;
 }
 .footer_pink_button {
    position: absolute;
    z-index: 1;
    margin-top: -199px; 
    margin-left: 100px;
    height: 35px; 
}
.footer_bar{
    display:flex;
    margin-top: -150px;
    margin-left:72px;
    color:#e7e7e7;
    font-weight: lighter;
}
.footer_navcolor{
    color:white;
  
}
.logo{
    height: 40px;
}
.footer_navcolor2{
    color:white;
    margin-left: 300px;
}
.sec4{
    height: 1300px;
}